# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# ChromaDB files
chroma/

# Virtual Environment
venv/

# OS specific
.DS_Store
data_prep/latest_kb_articles.csv
data/rag_ready_threads.csv
